<footer id="footer">
    <div class="container">
        <div class="row footer-wrap">
            <div class="col-md-12 desc">
                <div class="pull-right">
                    <div class="btn-group dropup">
                        <button type="button" class="btn btn-default btn-md dropdown-toggle" data-toggle="dropdown">{{i18n .Lang "current_lang"}}{{i18n .Lang .Lang}} <i class="caret"></i></button>
                        <ul class="dropdown-menu">
                            {{range .RestLangs}}
                                <li><a href="javascript::" data-lang="{{.Lang}}" class="lang-changed">{{i18n $.Lang .Name}}</a></li>
                            {{end}}
                        </ul>
                    </div>
                    {{if eq .Lang "zh-CN"}}
                        <a class="btn btn-success" href="/service"> 立即订购</a>
                    {{end}}
                    {{if eq .Lang "en-US"}}
                        <a class="btn btn-success" href="/service"> Order Now</a>
                    {{end}}
                </div>
                
                <p>
                    <a href="/about"><strong>{{i18n .Lang "about"}}</strong></a>
                    |
                    <a href="/tos"><strong>{{i18n .Lang "tos"}}</strong></a>
                    - {{.PageStartTime|loadtimes}}ms.
                </p>

                <p>
                    {{i18n .Lang "copyright"}} 2015-2016 GFW404.com
                </p>

            </div>
        </div>
    </div>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39123845-1', 'beego.me');
  ga('send', 'pageview');

</script>

{{compress_js "lib"}}
{{compress_js "app"}}