<footer id="footer">
    <div class="container">
        <div class="row footer-wrap">
            <div class="col-md-12 desc">
                <div class="pull-right">
                    <div class="btn-group dropup">
                        <button type="button" class="btn btn-default btn-md dropdown-toggle" data-toggle="dropdown">{{i18n .Lang "current_lang"}}{{i18n .Lang .Lang}} <i class="caret"></i></button>
                        <ul class="dropdown-menu">
                            {{range .RestLangs}}
                                <li><a href="javascript::" data-lang="{{.Lang}}" class="lang-changed">{{i18n $.Lang .Name}}</a></li>
                            {{end}}
                        </ul>
                    </div>
                    {{if eq .Lang "zh-CN"}}
                        <a class="btn btn-success" href="/service"> 立即订购</a>
                    {{end}}
                    {{if eq .Lang "en-US"}}
                        <a class="btn btn-success" href="/service"> Order Now</a>
                    {{end}}
                </div>
                
                <p>
                    <a href="/about"><strong>{{i18n .Lang "about"}}</strong></a>
                    |
                    <a href="/tos"><strong>{{i18n .Lang "tos"}}</strong></a>
                    - {{.PageStartTime|loadtimes}}ms.
                </p>

                <p>
                    {{i18n .Lang "copyright"}} 2015-2016 GFW404.com
                </p>

            </div>
        </div>
    </div>
</footer>

<div style="display:none">
<script language="javascript" type="text/javascript" src="http://js.users.51.la/18744712.js"></script>
<noscript><a href="http://www.51.la/?18744712" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/18744712.asp" style="border:none" /></a></noscript>
</div>

{{compress_js "lib"}}
{{compress_js "app"}}