{{template "base/base.html" .}}
{{define "meta"}}
    <meta name="description" content="Beego Web is official blog and documentation website for beego app web framework" />
    <meta name="keywords" content="Go, golang, beego, API documentation, blog, app web framework">
    <title>{{i18n .Lang "download"}} - gfw404: {{i18n .Lang "app_intro"}}</title>
{{end}}
{{define "head"}}
<style type="text/css">

</style>
{{end}}
{{define "body"}}

<div class="container main-container">
	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="cell slim page-box">
					<div id="order-cart">


	<div class="span10">
	 
	  <h4 style="color:red;">OS X 客户端</h4>
	  <p>
	    <ul>
	      <li><a href="/static/downloads/ShadowsocksX-2.6.3.dmg">ShadowsocksX</a> - Shadowsocks GUI designed for OS X 10.7+</li>
	      <li><a href="/static/downloads/GoAgentX-v2.2.9.dmg">GoAgentX</a> - OS X client, with GUI</li>
	    </ul>
	  </p>

	  <h4 style="color:red;">Windows 客户端</h4>
	  <p>
	    <ul>
	      <li><a href="/static/downloads/Shadowsocks-2.5.8.zip">shadowsocks-win</a> - Windows version with GUI (Windows 7 or above)推荐</li>
	      <li><a href="/static/downloads/ss-qt5-v2.6.0-win32.7z">Shadowsocks-Qt5-32位</a> - Shadowsocks Windows client</li>
	      <li><a href="/static/downloads/ss-qt5-v2.6.0-win64.7z">Shadowsocks-Qt5-32位</a> - Shadowsocks Windows client</li>
	    </ul>
	  </p>

	  <h4 style="color:red;">Linux 客户端</h4>
	  <p>
	    <ul>
	      <li><a href="https://github.com/shadowsocks/shadowsocks-qt5/wiki/Installation">Shadowsocks-Qt5</a> - Shadowsocks Windows client</li>
	      <li>Command-line Client（shadowsocks-python）：pip install shadowsocks</li>
	    </ul>
	  </p>

	  <h4 style="color:red;">iOS 客户端</h4>
	  <p>
	    <ul>
	      <li><a href="https://itunes.apple.com/tc/app/shadowsocks/id665729974?mt=8">shadowsocks-iOS</a> - All devices, web browser, global proxy with some restrictions</li>
	      <li><a href="http://apt.thebigboss.org/onepackage.php?bundleid=com.linusyang.shadowsocks">MobileShadowSocks</a> - Jailbroken devices only, global proxy with no restriction</li>
	    </ul>
	  </p>

	  <h4 style="color:red;">Android 客户端</h4>
	  <p>
	    <ul>
	      <li><a href="https://play.google.com/store/apps/details?id=com.github.shadowsocks">shadowsocks-android</a></li>
	      <li><a href="https://play.google.com/store/apps/details?id=fq.router2">fqrouter2</a></li>
	    </ul>
	  </p>

	  <h4 style="color:red;">路由器 / Router 客户端</h4>
	  <p>
	    <ul>
	      <li><a href="https://github.com/haohaolee/shadowsocks-openwrt">shadowsocks-openwrt</a> - works on OpenWRT routers</li>
	      <li>shadowsocks-libev：opkg install shadowsocks-libev - works on OpenWRT routers</li>
	      <li>shadowsocks-libev-polarssl：opkg install shadowsocks-libev-polarssl - works on OpenWRT routers</li>
	      <li><a href="http://geewan.com?r=4012">极玩路由器</a>
	      </li>
	    </ul>
	  </p>

	  <h4 style="color:red;">实验环境</h4>
	  <p>
	    <ul>
	      <li><a href="https://github.com/clowwindy/shadowsocks-ruby">shadowsocks-ruby</a> Ruby version</li>
	      <li><a href="https://github.com/clowwindy/shadowsocks-chromeapp">shadowsocks-chromeapp</a> - Chrome App</li>
	    </ul>
	  </p>

	  <h4 style="color:red;">其他支持 Shadowsocks 的上网方式</h4>
	  <p>
	    <ul>
	      <li><a href="https://github.com/cyfdecyf/cow">cow</a> - Powerful HTTP proxy, detecting blocked sites automatically</li>
	      <li><a href="https://github.com/jackyz/pobi">pobi</a></li>
	      <li><a href="https://github.com/clowwindy/lightsocks">lightsocks</a> - Transparent TCP proxy</li>
	      <li><a href="https://github.com/tuoxie007/Tweet4China2">Tweet4China2</a> - A Twitter client</li>
	    </ul>
	  </p>

	  <h4 style="color:red;">其他版本</h4>
	  <p>
	    <ul>
	      <li><a href="https://github.com/lerry/balan-proxy">balan-proxy</a></li>
	    </ul>
	  </p>
	</div>
	</div>

				</div>
			</div>
		</div>
	</div>
</div>

{{end}}