{{template "base/base.html" .}}
{{define "meta"}}
    <meta name="description" content="gfw404 provides fast and reliable shadowsocks service for students and researchers" />
    <meta name="keywords" content="gfw404 shadowsocks cheap ">
    <title>{{i18n .Lang "homepage"}} - gfw404: {{i18n .Lang "app_intro"}}</title>
{{end}}
{{define "head"}}{{end}}
{{define "body"}}
<div class="main-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    GFW404 Shadowsocks
                </div>
                <div class="desc">
                    {{i18n .Lang "home.beego_desc"}}
                </div>
                <div class="actions">
                    <a href="/tutorial" class="btn btn-lg btn-info">{{i18n .Lang "getting started"}}</a>
                    <a href="/service" class="btn btn-lg btn-success">{{i18n .Lang "order_now"}}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row home-box">
        <div class="col-md-12">
            <h2>{{i18n .Lang "home.features"}}</h2>
            <div class="row">
                <div class="col-md-3">
                    <div class="feature">
                        <h3 class="title">
                            {{if eq .Lang "zh-CN"}}
                                简单
                            {{else}}
                                EASY TO USE
                            {{end}}
                        </h3>
                        <p class="content">
                            {{if eq .Lang "zh-CN"}}
                                基于开源的Shadowsocks提供网络浏览服务，Shadowsocks有全平台的客户端，配置简单，只需将购买的服务信息填到客户端中即可，无需复杂配置。
                            {{else}}
                                With Shadowsocks support, Available on most platforms, including Windows, Linux, Mac, Android, iOS, and OpenWRT.
                            {{end}}
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feature">
                        <h3 class="title">
                            {{if eq .Lang "zh-CN"}}
                                快速
                            {{else}}
                                FAST
                            {{end}}
                        </h3>
                        <p class="content">
                            {{if eq .Lang "zh-CN"}}
                                GFW404目前提供香港和美国西海岸的服务器，与祖国大陆网络连接较好，服务稳定，Ping值低，带宽足，能轻松满足娱乐和查找资料等的需求。
                            {{else}}
                                With intelligent routing and monitoring, it's able to monitor your QPS, memory and CPU usages, and goroutine status. It provides you the fully control of your online apps.
                            {{end}}
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feature">
                        <h3 class="title">
                            {{if eq .Lang "zh-CN"}}
                                廉价
                            {{else}}
                                CHEAP
                            {{end}}
                        </h3>
                        <p class="content">
                            {{if eq .Lang "zh-CN"}}
                                GFW404主要目标群体是学生和技术研究人员，为他们提供畅通的网络服务，我们不是以营利为第一目的，因此GFW404的服务相比同行廉价很多。
                            {{else}}
                                With powerful built-in modules including session control, caching, logging, configuration parsing, performance supervising, context handling, ORM supporting, and requests simulating. You get the powerful foundation for any type of applications.
                            {{end}}
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feature">
                        <h3 class="title">
                            {{if eq .Lang "zh-CN"}}
                                质优
                            {{else}}
                                HIGH QUALITY
                            {{end}}
                        </h3>
                        <p class="content">
                            {{if eq .Lang "zh-CN"}}
                                使用Docker技术隔离每个用户的服务，减小用户之间的影响，维护后台服务器稳定，保证服务99%可用，同时限制用户质量，避免滥用。
                            {{else}}
                                With native Go http package to handle the requests and the efficient concurrence of goroutine. Your beego applications can handle massive trafic as beego are doing in many productions.
                            {{end}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row home-box">
        <div class="col-md-12">
            <h2>{{i18n .Lang "home.who_are_use"}}</h2>
            <div class="whouse" >
                <a target="_blank" href="http://golang.org/"><img class="img-thumbnail" src="/static/img/projects/golang_logo.png"></a>
                <a target="_blank" href="http://beego.me/"><img class="img-thumbnail" src="/static/img/projects/beego_logo.png"></a>
                <a target="_blank" href="https://github.com/shadowsocks/shadowsocks"><img class="img-thumbnail" src="/static/img/projects/shadowsocks_logo.png"></a>
                <a target="_blank" href="http://www.docker.com/"><img class="img-thumbnail" src="/static/img/projects/docker_logo.png"></a>
            </div>
        </div>
    </div>
</div>
<div class="container">
<!-- {{template "tweets.html" .}} -->
</div>
{{end}}
